html,
body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Harmattan", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

:root {
  --main-bg-blue: #aed8e5;
  --main-bg-green: #b0e0bc;
  --main-bg-black: #343434;
  --main-bg-brown: #e6e3d9;
  --main-text-color: #343434;
  --main-text-white: #ffffff;
}
