html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Harmattan", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

:root {
  --main-bg-yellow: #fffcf1;
  --main-bg-green: #4e746c;
}
